.ShopItem {
  // width: 320px;
  height: 500px;
  padding: 0 22px 70px;
  border-right: 2px #f6f6f6 solid;
  .image {
    cursor: pointer;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    margin-bottom: 18px;
    img {
      width: 100%;
    }
    img:nth-child(2) {
      position: absolute;
      right: 10px;
      bottom: 10px;
      width: 64px;
      height: 64px;
    }
    .basket {
      display: none;
    }
  }
  .tag {
    height: 32px;
    img {
      height: 21px;
      width: 41px;
    }
    .none {
      display: none;
    }
  }
  .name {
    cursor: pointer;
    height: 48px;
    margin: 0 0 5px;
    line-height: 1;
    letter-spacing: -0.3px;
    color: #555555;
    font-family: "AritaBuriSB";
    font-size: 20px;
  }
  .price {
    height: 50px;
    font-family: "notokr-regular", "Noto Sans CJK";
    .finalPrice {
      color: #000000;

      font-size: 20px;
      span {
        color: #626262;
        font-size: 20px;
        font-weight: 400;
      }
    }
    .priceBottom {
      display: flex;
      margin-top: 5px;
      .priceTop {
        color: #b8b8b8;
        font-size: 16px;
        text-decoration: line-through;
        text-align: right;
      }
      .percent {
        color: #fd5c5c;
        font-size: 16px;
        margin-left: 10px;
      }
    }
  }
  .likecomment {
    height: 27px;
    display: flex;
    align-items: center;
    img {
      height: 21px;
      width: 23px;
    }
    span {
      line-height: 1.5;
      color: #bcbcbc;
      font-size: 20px;
      font-family: "Noto_M", "본고딕", "Noto Sans CJK kR Medium",
        "Noto Sans CJK kR Medium";
      margin-left: 5px;
      margin-right: 50px;
      padding-bottom: 5px;
    }
  }
}
@media (min-width: 1100px) {
  .ShopItem {
    width: 24%;
  }
  .ShopItem:nth-child(4n) {
    border-right: 0;
  }
}
@media (max-width: 1101px) {
  .ShopItem {
    width: 32%;
  }
  .ShopItem:nth-child(3n) {
    border-right: 0;
  }
}
