.goTop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  cursor: pointer;
  bottom: 20px;
  right: -130px;
  z-index: 3;
  width: 40px;
  img {
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
}
.goTopVisible {
  opacity: 1;
  transition: all 0.7s ease-in-out;
  transform: translateX(-150px);
}
.goTopInvisible {
  opacity: 0;
  transform: translateX(-400px);
  transition: all 0.5s ease-in-out;
  pointer-events: none;
}
