@font-face {
  font-family: Buri;
  src: url(./fonts/Arita-buriM-subset.woff);
}

@font-face {
  font-family: AritaBuriSB;
  src: url(./fonts/Arita-buriM-subset.woff);
}

@font-face {
  font-family: notokr-regular;
  src: url(./fonts/notokr-regular.woff2);
}

@font-face {
  font-family: fontello;
  src: url(./fonts/fontello.woff);
}

@font-face {
  font-family: Noto_M;
  src: url(./fonts/notokr-regular.woff2);
}

@font-face {
  font-family: Noto Sans KR;
  src: url(./fonts/NotoSansKR-Regular.woff2);
}

body,
input,
textarea,
select,
button {
  font-family: "Noto Sans KR", "Malgun Gothic", "맑은 고딕", "Nanum Gothic",
    "나눔 고딕", "돋움", dotum, sans-serif;
}
