input::placeholder {
  color:#929292;
  font-size: 15.5px;
}

.SignupTop {
  width: 440px;
  .content {
    margin-top: 70px;
    position: relative;
    padding: 32px 3px;
    display: block;
    font-family: '맑은 고딕', '돋움', sans-serif;

    .welcome {
      display: block;
      font-size: 32px;
      font-weight: bold;
      margin-bottom: 6px;
      line-height: 39px;
    }

    p {
      display: block;
      font-size: 15px;
      line-height: 19px;
      .brand {
        color: #6c801d;

      }
    }
  }

  .join_table {
    margin-top: 11px;
    font-family: '맑은 고딕', '돋움', sans-serif;
    .user_name_wrap {
      display: flex;
      align-items: flex-end;
      height: 75px;
      .user_name {
        width: 100%;
        height: 54px;
        padding: 18px 15px 17px;
        font-size: 16px;
        border: 1px solid rgb(218, 218, 218);
        outline-width: thin;
        outline-color: #b5b5b5;

      }

      .user_name_label {
        position: absolute;
        width: 100%;
        padding-left: 16px;
        color:#929292;
        
        
      }

    }

    .birth_gender_wrap {
      display: flex;
      margin-top: 13px;
      align-items: center;
      width: 100%;

      .user_birth {
        width: 258.44px;
        padding: 18px 15px 17px;
        font-size: 16px;
        border: 1px solid rgb(218, 218, 218);
        height: 54px;
        outline-width: thin;
        outline-color: #b5b5b5;
      }

      .user_birth_label {
        position: absolute;
        padding-left: 15px;
        font-size: 16px;
        color:#929292;
        visibility: visible;
      }

      .gender_wrap {
        display: flex;
        justify-content: flex-end;
        margin-left: 15px;
        font-size: 15px;

        .gender_male_wrap {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 54px;
          width: 82.56px;
          border: 1px solid rgb(218, 218, 218);
          .gender_male {
            cursor: default;
            color: #929292;
          }

          .check_img {
            position: absolute;
            margin-left: -28px;
            width: 25px;
            visibility: hidden;
          }    
        }
        .gender_male_wrap2 {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 54px;
          width: 82.56px;
          border: 1px solid #6c801d;
          .gender_male {
            cursor: default;
            color: #6c801d;
          }

          .check_img {
            position: absolute;
            margin-left: -28px;
            width: 25px;
            visibility: visible;
          }   
        }
        .gender_female_wrap {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 82.56px;
          height: 54px;
          border: 1px solid rgb(218, 218, 218);
          .gender_female {
            cursor: default;
            color: #929292
          }

          .check_img {
            position: absolute;
            margin-left: -28px;
            width: 25px;
            visibility: hidden;
          }
        }
        .gender_female_wrap2 {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 82.56px;
          height: 54px;
          border: 1px solid #6c801d;
          .gender_female {
            cursor: default;
            color: #6c801d;
          }

          .check_img {
            position: absolute;
            margin-left: -28px;
            width: 25px;
            visibility: visible;
          }
        }
      }
    }

    .tel_wrap {
      display: flex;
      justify-content: space-between;
      margin-top: 13px;
      

      .select_telecom {
        width: 100%;
        display: flex;
        align-items: center;
        

        #telecom {
          outline-width: thin;
          outline-color: #b5b5b5;
          width: 135px;
          height: 54px;
          padding: 0 30px 0 16px;
          background-color: white;
          font-size: 16px;
          border: 1px solid rgb(218, 218, 218);
          appearance: none;
          border-radius: 0;
        }

        .select_arrow {
          width: 11px;
          position: absolute;
          margin-left: 110px;
        }
      }

      .user_tel_wrap {
        width: 100%;
        display: flex;
        align-items: center;


        #user_tel {
          width: 290px;
          height: 54px;
          padding: 0 30px 0 16px;
          font-size: 16px;
          border: 1px solid rgb(218, 218, 218);
          outline-width: thin;
          outline-color: #b5b5b5;
        }
        .user_tel_label {
          position: absolute;
          width: 100%;
          padding-left: 16px;
          color:#929292;
          visibility: visible;
        }
      }
    }

    .user_id_wrap {
      .description {
        margin: 25px 0 10px;
        font-weight: bold;
        font-size: 14px;
      }
      
    }

    .user_id_wrap2 {
      display: flex;
      align-items: center;
      .user_id {
        width: 100%;
        height: 54px;
        padding: 18px 15px 17px;
        font-size: 16px;
        border: 1px solid rgb(218, 218, 218);
        outline-width: thin;
        outline-color: #b5b5b5;
      }

      .user_id_label {
        position: absolute;
        width: 100%;
        padding-left: 16px;
        color:#929292;
        visibility: visible;
      }
    }

    .select_password_wrap {
      display: flex;
      justify-content: space-between;
      
      .select_password_direct {
        display: flex;
        align-items: center;
        margin: 15px 5px 0;

        .password_img {
          margin-top: 5px;
          .check_toclick {
            width: 30px;
          }
        }
        .password_text {
          margin-left: 8px;
          font-size: 15px;
          color: #6c801d;
        }
      }

      .select_password_direct2 {
        display: flex;
        align-items: center;
        margin: 15px 5px 0;

        .password_img {
          margin-top: 5px;
          .check_toclick {
            width: 30px;
          }
        }
        .password_text {
          margin-left: 8px;
          font-size: 15px;
          color: #3b3b3b;
        }
      }

      .select_password_auto {
        display: flex;
        align-items: center;
        margin: 15px 5px 0;

        .password_img2 {
          margin-top: 5px;
          .check_toclick {
            width: 30px;
          }
        }
        .password_auto {
          .password_text2 {
            margin-left: 8px;
            font-size: 15px;
            color: #6c801d;
          }
        }
      }

      .select_password_auto2 {
        display: flex;
        align-items: center;
        margin: 15px 5px 0;

        .password_img2 {
          margin-top: 5px;
          .check_toclick {
            width: 30px;
          }
        }
        .password_auto {
          .password_text2 {
            margin-left: 8px;
            font-size: 15px;
            color: #3b3b3b;
          }
        }
      }
    }

    .user_password_wrap {
      .input_password {
        position: relative;
        display: flex;
        align-items: center;
        margin-top: 7px;

        .user_password {
          width: 100%;
          height: 54px;
          padding: 18px 15px 17px;
          font-size: 16px;
          border: 1px solid rgb(218, 218, 218);
          outline-width: thin;
          outline-color: #b5b5b5;

        }
        .input_password_label {
          padding: 5px;
          position: absolute;
          width: 100%;
          padding-left: 16px;
          color:#929292;
          visibility: visible;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      .confirm_password {
        display: flex;
        align-items: center;
        margin-top: 13px;
        .user_password {
          width: 100%;
          height: 54px;
          padding: 18px 15px 17px;
          font-size: 16px;
          border: 1px solid rgb(218, 218, 218);
          outline-width: thin;
          outline-color: #b5b5b5;
        }
        .confirm_password_label {
          padding: 4px;
          position: absolute;
          width: 100%;
          padding-left: 16px;
          color:#929292;
          visibility: visible;
        }
      }
    }
    .user_password_wrap2 {
      display: none;
      .input_password {
        position: relative;
        display: flex;
        align-items: center;
        margin-top: 7px;

        .user_password {
          width: 100%;
          height: 54px;
          padding: 18px 15px 17px;
          font-size: 16px;
          border: 1px solid rgb(218, 218, 218);
          outline-width: thin;
          outline-color: #b5b5b5;

        }
        .input_password_label {
          padding: 5px;
          position: absolute;
          width: 100%;
          padding-left: 16px;
          color:#929292;
          visibility: visible;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      .confirm_password {
        display: flex;
        align-items: center;
        margin-top: 13px;
        .user_password {
          width: 100%;
          height: 54px;
          padding: 18px 15px 17px;
          font-size: 16px;
          border: 1px solid rgb(218, 218, 218);
          outline-width: thin;
          outline-color: #b5b5b5;
        }
        .confirm_password_label {
          padding: 4px;
          position: absolute;
          width: 100%;
          padding-left: 16px;
          color:#929292;
          visibility: visible;
        }
      }
    }
  }
}