@font-face {
  font-family: AritaBuriSB;
  src: url(../../styles/fonts/Arita-buriM-subset.woff);
}
@font-face {
  font-family: Noto_M;
  src: url(../../styles/fonts/notokr-regular.woff2);
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input, button {
  outline-style: none;
}

.Basket {
  margin-top: 153px;
  .main_container {
    min-height: 480px;
    .section_wrap {
      background-color: #f6f4f2;
      padding-bottom: 60px;
      min-height: 50vh;
      .basic_header {
        padding: 58px 0 39px 0;
        text-align: center;
        .header_text {
          font-size: 32px;
          line-height: 1.5;
          letter-spacing: -0.04em;
          font-family: AritaBuriSB, serif;
          color: #222;
        }
      }
      .tab_header_container {
        margin: 0 auto;
        max-width: 1120px;
        font-family: 'Noto_M', '본고딕', 'Noto Sans CJK kR Medium', 'Noto Sans CJK kR Medium';
        .tab_header_wrap {
          margin-bottom: 1px;
          background-color: #e2dcd3;
          .tab_header {
            font-size: 18px;
            text-align: center;
            line-height: 1.5;

            .tab_header_text {
              background-color: #fff;
              border-top: 4px solid #d5761b;
              border-right: 1px solid #ccc;
              color: #222;
              padding: 13px 0 14px;
              width: 280px;
              cursor: pointer;
              .n_wrap {
                color: #d75100;
              }
            }
          }
        }
      }
      section {
        margin: 0 auto;
        max-width: 1120px;
        font-family: 'Noto_M', '본고딕', 'Noto Sans CJK kR Medium', 'Noto Sans CJK kR Medium';
        .form {
          .order_table_container {
            .order_table_wrap {
              background-color: #fff;
              font-size: 1.4em;
              .order_table {
                font-size: 14px;
                width: 100%;
                thead {
                  tr {
                    height: 52px;
                    .t_check {
                      vertical-align: middle;
                      padding: 12px;
                      height: 52px;

                      // checkbox 체크되기 전
                      .checkbox_wrap {
                        position: relative;
                        height: 15px;
                        width: 15px;
                        border: 1px solid #888;
                        background-color: #fff;
                        cursor: pointer;

                        .checkbox {
                          position: absolute;
                          opacity: 0;
                          cursor: pointer;
                        }
                        
                        .checkbox_custom {
                          position: absolute;
                          transform: rotate(0deg) scale(1);
                        }
                      }

                      // checkbox 체크되었을 때
                      .checkbox_wrap_checked {
                        position: relative;
                        height: 15px;
                        width: 15px;
                        border: 1px solid #888;
                        background-color: #fff;
                        cursor: pointer;

                        .checkbox {
                          position: absolute;
                          opacity: 0;
                          cursor: pointer;
                        }

                        .checkbox_custom {
                          position: absolute;
                          content: "";
                          width: 7px;
                          height: 11px;
                          border: 1px solid #888;
                          border-width: 0 2px 2px 0;
                          transform: rotate(45deg) scale(1);
                          left: 3px;
                          top: -1px;
                        }
                      }
                    }
                    .t_info {
                      color: #888;
                      font-size: 14px;
                      line-height: 1.5;
                      padding: 14px 4px;
                      width: 43%;
                      text-align: center;
                      vertical-align: middle;
                    }
                    .t_qty {
                      color: #888;
                      font-size: 14px;
                      line-height: 1.5;
                      padding: 14px 4px;
                      width: 12%;
                      text-align: center;
                    }
                    .t_price {
                      width: 15%;
                      height: 52px;
                      .t_price_text {
                        color: #888;
                        font-size: 14px;
                        line-height: 1.5;
                        padding: 14px 4px;
                        text-align: right;
                        height: 100%;
                      }
                    }
                    .t_selling_price {
                      width: 15%;
                      height: 52px;
                      .t_selling_price_text {
                        color: #888;
                        font-size: 14px;
                        line-height: 1.5;
                        padding: 14px 4px;
                        text-align: right;
                        height: 100%;
                      }
                    }
                    .t_func {
                      color: #888;
                      font-size: 14px;
                      line-height: 1.5;
                      padding: 14px 4px;
                      width: 15%;
                    }
                  }
                }
                tbody {
                  // empty_body (display: none) -> 없애기
                  .empty_body {
                    
                    td {
                      display: none;
                      color: #727272;
                      border-top: 1px solid #ccc;
                      text-align: center;
                      padding: 5em 0;
                    }
                  }

                  .empty_body_active {
                    height: 52px;
                    border-top: 1px solid #ccc;
                    
                    td {
                      color: #727272;
                      text-align: center;
                      padding: 5em 0;
                    }
                  }
                }
              }
            }
            .notification_box {
              background-color: #fdfdfc;
              padding: 20px 30px;
              color: #727272;
              margin-top: 1px;
              .dot_list {

                .notification {
                  padding-left: 0.7em;
                  font-size: 0.82em;
                  position: relative;
                }
                li:before {
                  content: '';
                  position: absolute;
                  top: .5em;
                  left: 0;
                  width: 3px;
                  height: 3px;
                  background: #888;
                }
              }
            }
            .bill_box {
              margin-top: 10px;
              background-color: #fff;
              border-bottom: 1px solid #ddd;
              padding: 24px 0;
              min-height: 110px;
              display: flex;
              align-items: center;
              justify-content: center;
              line-height: 1.5;
              .bill_item {
                margin: 0 1.5em;
                text-align: center;
                .label {
                  font-size: 15px;
                  color: #555;
                }
                .price {
                  padding-top: 9px;

                  .num {
                    font-weight: bold;
                    font-size: 1.2em;
                    color: #333;
                  }
                  .unit {
                    color: #727272;
                    font-size: 1.1em;
                  }
                }
              }
              .mark {
                font-size: 30px;
                color: #999;
                font-family: monospace;
              }

              .bill_total {
                margin: 0 1.5em;
                text-align: center;

                .label {
                  font-size: 15px;
                  color: #555;
                  padding-top: 10px;
                }
                .price {
                  color: #d75100;
                  
                  .num {
                    font-weight: bold;
                    font-size: 2em;
                  }
                  .unit {
                    font-size: 1.6em;
                  }
                }
              }
            }
          }
          .tab_footer_container {
            margin-top: 30px;
            font-size: 1.4em;

            .tab_footer_wrap {
              text-align: center;
              font-weight: bold;

              .order_checked {
                background-color: #f6f4f2;
                height: 40px;
                min-width: 125px;
                border: 1px solid #ccc;
                transition: all 0.2s ease-out;
                font-size: 14px;
                color: #727272;
                margin-right: 2px;
              }
              .order_all {
                background-color: #74824c;
                border-color: #74824c;
                color: #fff;
                height: 40px;
                min-width: 125px;
                font-size: 14px;
                margin-left: 2px;
              }
            }
          }
        }
      }
    }
  }
}