// 스크롤바는 이 페이지만 안보이기에 여기에 둡니다! //
::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
.activeMain {
  margin-top: 153px;
  width: 100%;
  .activeMainContents {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
  }
}
