@keyframes autoScrolling {
  from {
    margin-top: 0;
  }
  to {
    margin-top: -68px;
  }
}
@font-face {
  font-family: Noto_M;
  src: url(../../styles/fonts/notokr-regular.eot);
}
.Footer {
  font-family: "Noto_M";
  .topSec {
    height: 63px;
    background: #67625d;
    display: flex;
    justify-content: center;
    .sizer {
      width: 1400px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .leftSec {
        display: flex;
        .notification {
          display: flex;
          align-items: center;
          span {
            color: #e3e3e3;
            font-weight: bold;
            font-size: 13px;
            font-family: 돋움, Dotum;
            border-right: solid #e3e3e3 1px;
            padding-right: 15px;
            margin-right: 11px;
          }
          .scrollContainer {
            height: 18px;
            width: 350px;
            overflow: hidden;
            ul {
              height: 18px;
              width: 350px;
              transition: opacity 1s ease-out;
              animation: autoScrolling 8s linear infinite;
              li {
                font-family: "Noto_M";
                font-weight: bold;
                color: #e3e3e3;
                font-size: 12px;
                height: 16px;
                width: 350px;
                margin: 1px 0;
                overflow: hidden;
              }
            }
          }
        }
        button {
          background-color: #67625d;
          border: none;
          height: 20px;
          color: white;
          font-size: 13px;
          margin-left: 60px;
        }
      }
      .sns {
        margin-right: 20px;
        img {
          margin-right: 20px;
        }
      }
    }
  }
  .bodySec {
    width: 100%;
    height: 164px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fafafa;
    .bodySizer {
      height: 140px;
      width: 1400px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .left {
        display: flex;
        .number {
          height: 92px;
          width: 207px;
          span:first-child {
            height: 21px;
            width: 100%;
            color: #7b7b7b;
            font-size: 14px;
            font-weight: bold;
          }
          span:nth-child(2) {
            width: 100%;
            font-size: 33.7px;
            color: #595959;
            line-height: 1.2;
          }
          span:nth-child(3) {
            line-height: 2;
            font-size: 12px;
            color: #828282;
          }
        }
        .email {
          width: 210px;
          height: 100px;
          margin-top: 17px;
          margin-left: 60px;
          span:first-child {
            font-size: 14px;
            color: #7b7b7b;
          }
          span:nth-child(2) {
            font-size: 18px;
            font-weight: 700;
            color: #595959;
            text-decoration: underline;
            cursor: pointer;
          }
          span:nth-child(3) {
            font-family: "Noto_M,sans-serif";
            font-weight: 700;
            font-size: 13px;
            color: #797979;
          }
          span:nth-child(4) {
            color: #6b6b6b;
            font-size: 12px;
          }
        }
      }
      .right {
        display: flex;
        div {
          height: 78px;
          margin: 0 25px;
          #one {
            margin-left: 17px;
          }
          #two {
            margin-left: 22px;
          }
          #three {
            margin-left: -4.5px;
          }
          p {
            margin-top: 10px;
            color: #8a8a8b;
            font-size: 16px;
            font-weight: 600;
          }
        }
      }
    }
  }
  .bottomSec {
    margin-top: 40px;
    padding-left: 40px;
    display: flex;
    justify-content: center;
    .bottomSizer {
      max-width: 1400px;
      width: 1400px;
      display: flex;
      letter-spacing: -0.05em;
      align-items: center;
      justify-content: space-between;
      .spacer {
        display: flex;
        .logo {
          height: 109px;
          width: 83px;
          margin-top: 10px;
        }
        .left {
          margin-left: 40px;
          .topList {
            ul {
              width: 750px;
              display: flex;
              li {
                display: flex;
                align-items: center;
                border-right: solid rgb(121, 119, 119) 1px;
                height: 10px;
                margin: 0 2px;
                padding-right: 5px;
                button {
                  font-size: 12px;
                  background-color: white;
                  border: none;
                  color: rgb(63, 63, 63);
                  letter-spacing: -0.1em;
                }
                button:focus {
                  outline: none;
                }
              }
              li:nth-child(3) {
                button {
                  font-weight: bold;
                }
              }
              li:last-child {
                border: none;
              }
            }
          }
          .info {
            margin-left: 7px;
            margin-top: 17px;
            span {
              font-size: 12px;
              color: #a0a0a0;
            }
            .top {
              display: flex;
              margin: 10px 0;
              align-items: center;
              button {
                margin-left: 10px;
                width: 120px;
                height: 32px;
                line-height: 26px;
                color: #828282;
                font-size: 12px;
                display: flex;
                justify-content: center;
                border: 1px solid #ededed;
                background: #fafafa;
              }
              button:focus {
                outline: none;
              }
              span {
                line-height: 23px;
              }
            }
            .bottom {
              span {
                line-height: 18px;
              }
            }
          }
        }
      }
      .right {
        margin-top: -30px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 120px;
        width: 320px;
        border: 1px solid #e8e8e8;
        .border {
          margin-top: 10px;
          width: 270px;
          height: 80px;
          color: #828282;
          font-weight: bold;
          font-size: 12px;
          div {
            display: flex;
            font-size: 12px;
            font-weight: normal;
            margin-top: 15px;
            margin-left: 5px;
            img {
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
}
