.Signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  .header {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #d2d2d2;
    text-align: center;
    height: 61px;
    background-color: #f3f3f3;

    h1 {
      font-size: 18px;
      .text1 {
        color: #88a2c3;
        font-weight: bold;
      }
      .text2 {
        color: #6c801d;
        font-weight: bold;
      }
    }
  }
}