.CommentTap2 {
  margin-top: 1vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .outputZone {
    padding: 1em;
    width: 100%;
    height: 8em;
  }
  .inputZone {
    padding: 1em;
    width: 100%;
    height: 8em;
    display: flex;
    margin: 1em;
    justify-content: center;
    align-items: center;
    .inputZoneLeft {
      margin: 0 1em 0 0;
      height: 100%;
      display: flex;
      align-items: center;
    }
    .inputZoneRight {
      width: 50%;
      height: 100%;
      .inputBoxInner {
        height: 100%;
        width: 100%;
        display: flex;

        input {
          height: 100%;
          width: 90%;
        }
        button {
          cursor: pointer;
          height: 100%;
          width: 10%;
          display: flex;
          justify-content: center;
          align-items: center;
          span {
            color: black;
            font-weight: bold;
            font-size: 100%;
          }
        }
      }
    }
  }
}
